.slide-in-container {
    overflow: hidden;
    width: 0;
    height: 100%;
    visibility: hidden;
}
.slide-in-container.visible {
    width: 100%;
    visibility: visible;
    height: 100px;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition-timing-function: ease;

  /* Also the same as */
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    
}

